form {
    width:50%;
    margin: 3% auto;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  input,
  label {
    display: block;
    margin-bottom: 3%;
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="submit"] {
    margin-left: 25%;
    width: 50%;
    padding: 3%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #3e8e41;
  }